<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    {% if title %}
        <title>Weather - {{ title }}</title>
    {% else %}
        <title>Weather</title>
    {% endif %}
</head>
<body>
    <div class="jumbotron text-center">
        <h1>
            Weather Report
        </h1>
        <h5>
            Greetings to {{ ip }}! Here's the weather in {{ info['city'] }}, {{ info['region'] }}, {{ info['country_code3'] }}
        </h5>
        <h5>
            {{ time_now }}
        </h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    {{ days_list[0] }}
                </h3>
                    Current Temp:
                <h1>
                    {{ day1[0] }}
                </h1>
                <div class="text-center">
                    Low: {{ day1[1] }}
                    High: {{ day1[2] }}
                </div>
            </div>
            <div class="col">
                <h3>
                    {{ days_list[1] }}
                </h3>
                    Average Temp:
                <h1>
                    {{ avg_day2 }}
                </h1>
            </div>
            <div class="col">
                <h3>
                    {{ days_list[2] }}
                </h3>
                    Average Temp:
                <h1>
                    {{ avg_day3 }}
                </h1>
            </div>
            <div class="col">
                <h3>
                    {{ days_list[3] }}
                </h3>
                Average Temp:
                <h1>
                    {{ avg_day4 }}
                </h1>
            </div>
            <div class="col">
                <h3>
                    {{ days_list[4] }}
                </h3>
                    Average Temp:
                <h1>
                    {{ avg_day5 }}
                </h1>
            </div>
        </div>
    </div>
</body>
</html>